#buttonnavbartoggle {
  border:0;
  position: absolute;
  right: 5%;
  height: 40px;
  border-radius: 4px;
  padding-top:0;
  color: #999999;
  padding-top: 4px;
  margin-top: 16px;
  border: 1px solid lightgray;
  background-color: white;
  width: 40px;
  font-size: 24px;
}
.maintitle {font-family: 'Courgette', cursive; font-size: 28px; color: #36a561; letter-spacing: .5px;}
a, a:hover, a:active, a:visited, a:focus {text-decoration:none;}
.maintitle:visited {color:#36a561; text-decoration: none;}
a:hover {
  text-decoration: none;
  color: #999999 !important;
}
.categorydiv {width:100%; text-align:center; padding:10px; font-size: 20px; font-family: 'Raleway', sans-serif;margin-bottom: 20px; border-bottom: 1px solid lightgray;}
.alertmain {position:fixed; z-index: 100; font-size:18px; text-align: center;font-family: 'Roboto', sans-serif;bottom: -25px; background-color: #38bc8e; color:white;left: 50%; transform: translate(-50%, -50%);}
.textareainreply {
  margin-left: 18%;
  padding-top:0;
  margin-top: -35px;
}
.userinfo {width: 18% !important; padding-left: 5px!important;}
.posttext { width: 82% !important; }
.likedislike { cursor: pointer;}
.imgmyprofile {height: 100%; width:100%;}
.nocolorproggres {background-color: #cccccc; position: relative;}
.divemyprofile{padding: 30px; padding-bottom:15px;}
.btnsavepicture {position: absolute; right: 5%; margin-top: 10px;}
#reply {width: 100%;}

@media(min-width:768px) {
  .textareainreply {margin-left: 15%;}
  .userinfo {width: 15% !important; padding-left: 15px!important;}
  .posttext { width: 85% !important; }
  .replydelete{right:6% !important;}
}
@media(min-width: 1000px) {
  .replydelete{right:9% !important;}
  .btnsavepicture{ margin-top: 78px;}
}
@media(min-width:1200px) {
  .textareainreply {margin-left: 11%;}
  .userinfo {width: 11% !important;}
  .posttext { width: 89% !important; }
  .replydelete{right:7.5% !important;}
}
.replydelete {color: #888888;position: absolute; right: 9%; margin-top: -10px; font-size: 16px;}
.replydelete:hover {color: #aaaaaa;cursor: pointer;}
.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {opacity: 0.8; font-weight: 400;}
.btnchecked {background-color: #777777 !important; color: white; border: 2px solid lightgray !important;}
.btnnormal {margin-left: 82.5%; background-color: #1abc9c; color:white; border-radius: 4px;  padding: 8px; padding-left: 13px; padding-right: 13px; border:2px solid white;}
.btnnormal:focus {outline: none;}
.btnhover:hover {background-color: #2bcdad}
.fainsearch{position: absolute;right: 7%; font-size: 20px;}
.commentscount {position: absolute;right: 3.5%;}
.singlesearch{width: 100%;z-index: 5;padding:5px; padding:5px;background-color: white; min-height:30px; border-bottom: 1px solid lightgray;}
.searchingresult{background-color: #f3f5f9; color: #999999;  border:  .5px solid lightgray;background-clip: padding-box;border-bottom: 3px solid rgba(152,152,152,.2);border-radius: 5px; max-height:200px; min-height: 0px; width:78.5%; margin-top: 50px;overflow-y: scroll ; z-index:6; position: absolute; display: none;}
.singlesearch {color:#666666 !important;}
.singlesearch:hover {color:#999999 !important;}
.stickie {position: fixed !important;background-color: white;top: 0;z-index: 100000;width: 100%;}
.padding75{padding-top:75px;}
#logoutbuttonpls{background-color: transparent; height: 26px; color:black;padding-left:20px; margin-bottom: 4px; margin-top: 0px; text-align:left;width:100%; border:0;}
#logoutbuttonpls:hover{background-color: #f3f5f9; color: #777777;}
.statusgray{margin-right: 3px; margin-top: 2px; background-color: #8c8c8c;}
.hoverpointer:hover{cursor: pointer;}
.emote{cursor: pointer; display: block; float: left; margin-left: 10px; margin-bottom:0;}
.smile:hover{cursor: pointer;}